extends /_include/_layout.pug

block content
  .title-area
    h1 管理メニュー
    .pankuzu 
      ul
        li: a(href=`/${baseDir}/`) HOME
        li: span 管理メニュー
  .error_message 
  .content-inr 
    .box 
      h3 コンテンツ
      .btn-area 
        a(href="") お知らせ 
        a(href="") インフォメーション 
        a(href="") NEWS
        a(href="") 更新情報 
        a(href="") ○○情報
 

        