/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

reset.css

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* --HTML-- */
html {
background:#fff;
color:#333;
overflow-y:scroll;
}

/* --BODY-- */
body {
	margin:0;
	padding:0;
}


/* --OTHER TAGS-- */
a img, img {
	border:0;
	vertical-align: bottom;
}

blockquote, dd, div, dl, dt,
h1, h2, h3, h4, h5, h6,
li, ol, p, pre, span, td, th, ul,menu,nav {
margin:0;
padding:0;
}

abbr, acronym {
border:0;
}

address, caption, cite, code, dfn, em, th, var {
font-style:normal;
font-weight:normal;
}

caption, th {
text-align:left;
}

code, kbd, pre, samp, tt {
font-family:monospace;
line-height:100%;
}

	/* for IE7 */
	*+html code, kbd, pre, samp, tt {
	font-size:108%;
	}

h1, h2, h3, h4, h5, h6 {
font-size:100%;
font-weight:bold;
}

ol, ul ,menu,nav{ list-style:none; }
menu,nav{display: block;}

q:before, q:after {
content:'';
}

header,footer{ display:block}

/* form */
button, fieldset, form, input, label, legend, select, textarea {
font-family:inherit;
font-size:100%;
font-style:inherit;
font-weight:inherit;
margin:0;
padding:0;
vertical-align:baseline;
}

/*tables still need 'cellspacing="0"' 
table {
border-collapse:collapse;
border-spacing:0;
}*/



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

basic

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body, th, td, input, textarea {
	font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3",  "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", Osaka, Tahoma, Verdana, Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:1.6;
	color:#333333;
}


* html input{ padding:2px;}
li img{ vertical-align:bottom;}

/* new clearfix */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.clear{ clear:both;}


.nh{
font-size: 0px;
line-height: 0px;
height: 0px;
width: 0px;
visibility: hidden;
}

.n{
text-decoration:none;
text-indent:-9999px;
display:block;
font-size:0;
}
.nv{ visibility: hidden; }

a.alpha:hover img{opacity:0.80;filter: alpha(opacity=80);}
.alpha a:hover img{opacity:0.80;filter: alpha(opacity=80);}


/* ----------------------------------------------
ブロックレベル要素の高さを揃えるheightLine.js
<script type="text/javascript" src="/common/js/heightLine.js"></script>
---------------------------------------------- */
.heightLine{}


/* ----------------------------------------------
背景の1pxずれ
---------------------------------------------- */
/* IE7でpadding指定 */
*:first-child+html div#container {
padding-left: 1px;
}

/* IE6以下でpadding指定 */
*html div#container {
padding-left: 1px;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

style

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* font-size */
.f10 { font-size: 10px;}
.f12 { font-size: 12px;}
.f14 { font-size: 14px;}
.f16 { font-size: 16px;}
.f18 { font-size: 18px;}
.f10p { font-size: 83.3%;}
.f12p { font-size: 100%;}
.f14p { font-size: 116.7%;}
.f16p { font-size: 133.3%;}
.f18p { font-size: 150%;}


/* margin-top */
.mt00 { margin-top: 0px; }
.mt05 { margin-top: 5px; }
.mt08 { margin-top: 8px; }
.mt10 { margin-top: 10px; }
.mt15 { margin-top: 15px; }
.mt20 { margin-top: 20px; }
.mt25 { margin-top: 25px; }
.mt30 { margin-top: 30px; }
.mt40 { margin-top: 40px; }
.mt50 { margin-top: 50px; }

/* padding-top */
.pt00 { padding-top: 0px; }
.pt05 { padding-top: 5px; }
.pt10 { padding-top: 10px; }
.pt15 { padding-top: 15px; }
.pt20 { padding-top: 20px; }
.pt25 { padding-top: 25px; }
.pt30 { padding-top: 30px; }
.pt35 { padding-top: 35px; }
.pt40 { padding-top: 40px; }
.pt45 { padding-top: 45px; }
.pt50 { padding-top: 50px; }

/* margin-right */
.mr00 { margin-right: 0px; }
.mr05 { margin-right: 5px; }
.mr10 { margin-right: 10px; }
.mr11 { margin-right: 11px; }
.mr15 { margin-right: 15px; }
.mr20 { margin-right: 20px; }
.mr25 { margin-right: 25px; }
.mr30 { margin-right: 30px; }

/* padding-right */
.pr00 { padding-right: 0px; }
.pr05 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr25 { padding-right: 25px; }
.pr30 { padding-right: 30px; }

/* margin-bottom */
.mb00 { margin-bottom: 0px; }
.mb05 { margin-bottom: 5px; }
.mb08 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb25 { margin-bottom: 25px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }

/* padding-bottom */
.pb00 { padding-bottom: 0px; }
.pb05 { padding-bottom: 5px; }
.pb10 { padding-bottom: 10px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb25 { padding-bottom: 25px; }
.pb30 { padding-bottom: 30px; }

/* margin-left */
.ml00 { margin-left: 0px; }
.ml05 { margin-left: 5px; }
.ml10 { margin-left: 10px; }
.ml11 { margin-left: 11px; }
.ml15 { margin-left: 15px; }
.ml20 { margin-left: 20px; }
.ml25 { margin-left: 25px; }
.ml30 { margin-left: 30px; }
.ml80 { margin-left: 80px; }

/* padding-left */
.pl00 { padding-left: 0px; }
.pl05 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl15 { padding-left: 15px; }
.pl20 { padding-left: 20px; }
.pl25 { padding-left: 25px; }
.pl30 { padding-left: 30px; }

.w040{ width:40px;}
.w050{ width:50px;}
.w080{ width:80px;}
.w100{ width:100px;}
.w150{ width:150px;}
.w200{ width:200px;}
.w250{ width:250px;}
.w300{ width:300px;}
.w350{ width:350px;}
.w390{ width:390px;}
.w400{ width:400px;}
.w500{ width:500px;}
.w600{ width:600px;}

/* float */
.fL{ float:left;}
.fR{ float:right;}

.taC{ text-align:center}
.taL{ text-align:left;}
.taR{ text-align:right}


/* color */
.c_red{ color:#CC0000; }
.c_org{color:#F87501;}
.c_blk{	color:#333333;}
.c_blu{ color:#0C68A8; }
.c_gry{	color:#999999;}
.c_grn{ color:#70B42B; }

/* line */
.line01{
	border-bottom: 1px dotted #CCCCCC;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.rollover{}
.rollover{ vertical-align: bottom;}
.rollover a img{opacity:1;filter: alpha(opacity=100);}
.hidden {
	display: none;
}
* html .ipn img{	behavior: expression(IEPNGFIX.fix(this));}
