@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/*08*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
body {
	font-family: 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', Osaka, Tahoma, Verdana, Arial, Verdana, sans-serif;
	overflow: hidden !important;
}

body::-webkit-scrollbar {
	background:#000000;
	display: none;
	width: 0;
}

/* CSS Document */
#wrapper {
	position: relative;
}
#cont_inner {
	margin-left: auto;
	overflow: hidden;
	margin-right: auto;
}


/* ------------------------------- */
.box {
	
	height: 100%;
	width: 100%;
}
.box img {
	height: auto;
	width: 100%;
}

