.table__search {
    /* 非table */
  font-size: 0.9rem;
  ul.search__row {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 3px;
    li {
      display: inline-block;
      min-width:240px;

      .search__title {
        vertical-align: middle;
        background-color: #cbcbcb;
        border: none;
        text-align: center;
        min-width: 120px;
        display: inline-block;
        padding: 3px 5px;
      }
      .search__column {
        min-width: 120px;
        display: inline-block;
        vertical-align: middle;
        select, input, textarea {
          padding: 2px 5px;
          border: solid 1px #343a40;
        }
      }
    }
  }
}

/* 詳細・編集 */
.table_edit_area {
  padding: 20px;

  .form-group {
    margin-bottom: 0;
    border: 1px solid #d9e3ed;
    border-top: none;
    &:first-child {
      border-top: 1px solid #d9e3ed;
    }
  }


  .control_title {
    display: flex;
    align-items: center;
    background-color: #ededed;
    span {
      &.attent {
        font-size: 12px;
        color: #ab3030;
        font-weight: normal;
        border: 1px solid currentColor;
        border-radius: 3px;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 .5em;
        margin-left: 10px;
      }
    }
  }
  .control_value {
    // display: flex;
    padding: 10px;
  }

  table {
    width: 100%;
    box-sizing: border-box;

    th,
    td:first-child {
      font-weight: bold;
      background-color: #ededed;
      min-width: 100px;
      max-width: 25%;
    }

    td {
      border: solid 1px #d9e3ed;
      padding: 10px;

    }

    span {
      &.attent {
        font-size: 12px;
        color: #ab3030;
        font-weight: normal;
        border: 1px solid currentColor;
        border-radius: 3px;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 .5em;
        margin-left: 10px;
      }
    }

  }
}