include /_include/_config.pug
header 
  p.title 
    a(href=""): img(src=`/${baseDir}/images/title_cms.png`, alt="")
  h2 サンプルサイト
  .bar 
    a(href=`/${baseDir}/`)
      i.fas.fa-desktop
      span.bar-text サイト表示 
    a(href=`/${baseDir}/`)
      i.fas.fa-desktop
      span.bar-text ログアウト 
