#side 
  .side-header 
    select()
      option サンプルサイト
      option サンプルサイト2
  nav 
    h4 コンテンツ
    ul.menu 
      li 
        span.parent-link お知らせ
        ul.submenu 
          li: a.menu-item(href="")  新規登録
          li: a.menu-item(href="")  一覧
      li 
        span.parent-link インフォメーション
        ul.submenu 
          li: a.menu-item(href="")  新規登録
          li: a.menu-item(href="")  一覧
      li 
        a.menu-item(href="") コンテンツ設定
      li 
        a.menu-item(href="") 設定  
      